<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h1>Admin</h1>
        <form action="/admin" method="POST">
            <p><label for="name">Nombre</label></p>
            <p><input type="text" id="name" name="name" placeholder="Ingrese el usuario"></p>
            <button type="submit">Ingresar</button>
        </form>
    </body>
</html>
